* {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: rgb(46, 49, 63);
  
}

.header-container{
  background-color: rgb(3, 181, 133);
  border-radius: 10em;
    width: 95%;
    margin: auto;
    margin: 10px;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logo{
  }
  
  .logo img{
    width: 50%;
    border-radius: 50%;
    padding-top: 5px;
    margin-left: 20px;
  }
  
  .header-nav{
    width: 100%;
  
}

  .header-nav a{
    float: right;
  color: #271f1f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
}

.header-nav a:hover{
  background-color: #ddd;
  color: black;
}

.search-container{
  display: flex;
  flex-direction: row;
}

.search-input{
  float: left;
  border-radius: 10em;
  width: 40%;
  background-color: rgb(133, 252, 238);;
  margin: 20px;
  padding: 6px;
  border: 1px solid rgb(76, 90, 102);
  margin-right: 16px;
  font-size: 17px;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -60px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.meme-editor{
}

.img-gallery{
  background-color: rgb(79, 84, 107);
  border-radius: 10px;
  width: 95vw;
  margin: auto;
}

.grid-img-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  width: 92%;
  height: 100%;
  margin: auto;
}
.img {
  width: 100%;
  border-radius: 10%;
}

.img > * {
  width: 100%;
}

/* .topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
} */


/* grid-meme */

.grid-meme-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width:90% ;
  margin:20px auto;
  justify-items:center;
  align-items: center;
  grid-template-areas: 
        
        "meme      text-editor"
        "meme      line-editor"
        "meme      font-setting"
        "meme      align-setting"
        "meme      stickers"
        "meme      media";
}

.canvas-container {
  background-color: rgb(42, 91, 165);
  margin: auto;
  width: 350px;
  height:350px;
  grid-area: meme;
}
.remote-container{
}

canvas {
  display: block;
  margin: 0 auto;
  outline: 1px solid black;
  background-color: rgb(136, 26, 26);
}

.btn{
  border-radius: 10px;
}

.btn > img{
  height: 40px;
}


.text-editor{
  grid-area: text-editor;
  border-radius: 10em;
  padding: 10px;
  width: 70%;
  height: 70%;
}

.line-editor{
  grid-area: line-editor;
}

.font-setting{
  grid-area:font-setting ;
}

.align-setting{
  grid-area:align-setting ;
}

.stickers{
  grid-area:stickers ;
}

.media{
  grid-area:media ;
}

@media (max-width: 600px){
  .grid-meme-container {
  grid-template-rows: 6fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
        "meme"
        "text-editor"
        "line-editor"
        "font-setting"
        "align-setting"
        "stickers"
        "media";
        
  }
}