* {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #c6c2c2;
  
}

.canvas-container {
  background-color: rgb(42, 91, 165);
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
}

canvas {
  display: block;
  margin: 0 auto;
  outline: 1px solid black;
  background-color: rgb(136, 26, 26);
}
